/* ==========================================================================
   Site wide styles
   ========================================================================== */

.skip-link {
	left: -100%;
	position: absolute;
}
.skip-link:focus {
	left: 50%;
}

.site-name {
	margin-top: .225em;
}

@media only screen and (max-width: 37.5em) {
	.no-js .nav ul,
	.js .nav ul{
		overflow: hidden;
	}
}

article {
	line-height: $paragraph-line-height;
	padding: .3em 0;
	.article-wrap {
		p {
			margin: 0 0 1rem;
		}
	}
}

/* footer */
.footer-wrap {
	footer {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		display: block;
		float: none;
	}
}

.socials {
	width: 100%;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		padding: 0 1rem;
	}
	.author-social .fa {
		margin-right: 0;
	}
}


/*
   Selection
   ========================================================================== */

::-moz-selection {
	background-color: lighten($basecolor, 65%);
	color: $basecolor;
	text-shadow: none;
}
::selection {
	background-color: lighten($basecolor, 65%);
	color: $basecolor;
	text-shadow: none;
}

/*
   Global classes
   ========================================================================== */

/* Capitalize */
.all-caps {
	text-transform: uppercase;
}

/* Float left */
.pull-left {
	float: left;
}

/* Float right */
.pull-right {
	float: right;
}
.image-pull-right {
	float: right;
	margin-top: 0;
}

/* Clearfix */
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;
	    content: "";
	}
	&:after {
		clear: both;
	}
}

/* Remove bullets and indentation from list */
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

/*
   Global transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}
